.App {

}

.App-logo {
  height: 70px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.App-header {
  background-color: #01b2b7;
  height: 80px;
  color: white;
}

.App-title {
  position: relative;
  height: 100%;
}

.App-title-logo {
  height: 100%;
  width: 120px;
  display: inline-block;
}

.App-title-logo a {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.App-title h2 {
  position: absolute;
  display: inline-block;
  margin-left: 8px;
}

.App-content {
  height: 1000px;
}

.App-menu {
  margin: 0 !important;
  width: 120px !important;
  float: left;
  height: 100%;
}

.App-menu-image {
  width: 70px !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.App-menu-label {
  font-size: 13px;
  font-weight: bold;
}

.App-container {
  height: 100%;
  background-color: aqua;  
  margin-left: 120px !important;
}
