body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui-modal-button {
  width: 100px;
  margin-right: 4px !important;
}

.search-form-header {
  height: 40px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: purple;
  color: white;
  padding: 8px;
}

.search-form {
  width: 100%;
  font-size: 14px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.search-form-label {
  display: inline-block;
  text-align: right;
  font-weight: bold;
}

.search-form-input {
  padding: 6px;
  margin: 6px 10px;
}

.search-form-buttons {
  
}